<div id="{{attributes.id}}" class="row">
	<div class="span7">
		<ul data-tagit-name="{{name_with_dots}}"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="{{name_with_dots}}">+</a>
	</div>
</div>