<form id="fieldsets" method="POST" action="{{{uri:://action}}}" class="form-horizontal" accept-charset="utf-8">
<input name="api_action" value="formloader.fieldsets" type="hidden" id="form_api_action" />

	{{#__hidden_vars}}
		<input type="hidden" value="{{value}}" name="{{name}}" />
	{{/__hidden_vars}}

		<div class="control-group{{wrapper_class.group}}" data-formloader-wrapper="group">
	<label for="group" class="control-label">Group:</label>
	<div class="controls">
		 <input id="group" name="group" value="{{group}}" type="text" />
	   {{#error.group}}
	   <p class="help-block">
		   {{{error.group.message}}}
	   </p>
	   {{/error.group}}
		 {{^error.group}}
	   <span class="help-block">Used mainly to namespace the forms/child items</span>
		 {{/error.group}}
	</div>
</div>
		<div class="control-group{{wrapper_class.name}}" data-formloader-wrapper="name">
	<label for="fieldset_name" class="control-label">Fieldset Name:</label>
	<div class="controls">
		 <input id="fieldset_name" name="name" value="{{name}}" type="text" />
	   {{#error.name}}
	   <p class="help-block">
		   {{{error.name.message}}}
	   </p>
	   {{/error.name}}
		 {{^error.name}}
	   <span class="help-block">Name for the fieldset, must be unique to the group</span>
		 {{/error.name}}
	</div>
</div>
		<div class="control-group{{wrapper_class.fields}}" data-formloader-wrapper="fields">
	<label for="fields" class="control-label">Fields:</label>
	<div class="controls">
		 <div id="fields" class="row">
	<div class="span7">
		<ul data-tagit-name="fields"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="fields">+</a>
	</div>
</div>
	   {{#error.fields}}
	   <p class="help-block">
		   {{{error.fields.message}}}
	   </p>
	   {{/error.fields}}
		 {{^error.fields}}
	   <span class="help-block">Start typing the name of a field you have already created, or click the "+" to create a new one</span>
		 {{/error.fields}}
	</div>
</div>
		<fieldset data-collapsible-fieldset="">

	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
			Fieldset Attributes			<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="attributes.id" href="#">id</a></li>
				<li><a data-formloader-showfield="attributes.class" href="#">class</a></li>
				<li><a data-formloader-showfield="attributes.name" href="#">name</a></li>
				<li><a data-formloader-showfield="attributes.data" href="#">data</a></li>
				<li><a data-formloader-showfield="attributes.style" href="#">style</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.attributes_fieldset" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.attributes.id}}" data-formloader-wrapper="attributes.id">
	<label for="id" class="control-label">Id:</label>
	<div class="controls">
		 <input id="id" name="attributes[id]" value="{{attributes.id}}" type="text" />
	   {{#error.attributes.id}}
	   <p class="help-block">
		   {{{error.attributes.id.message}}}
	   </p>
	   {{/error.attributes.id}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.class}}" data-formloader-wrapper="attributes.class">
	<label for="class" class="control-label">Class:</label>
	<div class="controls">
		 <input id="class" name="attributes[class]" value="{{attributes.class}}" type="text" />
	   {{#error.attributes.class}}
	   <p class="help-block">
		   {{{error.attributes.class.message}}}
	   </p>
	   {{/error.attributes.class}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.name}}" data-formloader-wrapper="attributes.name">
	<label for="name" class="control-label">Name:</label>
	<div class="controls">
		 <input id="name" name="attributes[name]" value="{{attributes.name}}" type="text" />
	   {{#error.attributes.name}}
	   <p class="help-block">
		   {{{error.attributes.name.message}}}
	   </p>
	   {{/error.attributes.name}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.data}}" data-formloader-wrapper="attributes.data">
	<label for="data" class="control-label">Data Attributes</label>
	<div class="controls">
		 <div data-option-sgroup="attributes[data]">
	<div class="optionRow">
		<div>
			 <input type="text" class="inline span2" name="attributes[data][key][]" placeholder="Label" />
			 <input type="text" class="inline span2" name="attributes[data][value][]" placeholder="name or value" />
			 <a href="#" data-formloader-action="add_option_row" class="btn btn-primary">+</a>
			 <span class="btn small disabled optionSortHandle">Sort</span>
		</div>
		<br>
	</div>
</div>
<script type="text/javascript">
var Formloader = Formloader || {};
		Formloader.Forms = Formloader.Forms || {};
		Formloader.Forms["attributes[data]"] = {{#attributes.data}}{{{attributes.data}}}{{/attributes.data}}{{^attributes.data}}[]{{/attributes.data}};
</script>
	   {{#error.attributes.data}}
	   <p class="help-block">
		   {{{error.attributes.data.message}}}
	   </p>
	   {{/error.attributes.data}}
		 {{^error.attributes.data}}
	   <span class="help-block">Each of the Key=>Val pairs will be added as data attribues to this item</span>
		 {{/error.attributes.data}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.style}}" data-formloader-wrapper="attributes.style">
	<label for="style" class="control-label">Style:</label>
	<div class="controls">
		 <input id="style" name="attributes[style]" value="{{attributes.style}}" type="text" />
	   {{#error.attributes.style}}
	   <p class="help-block">
		   {{{error.attributes.style.message}}}
	   </p>
	   {{/error.attributes.style}}
		 {{^error.attributes.style}}
	   <span class="help-block">Please don't use this unless you absolutely need to</span>
		 {{/error.attributes.style}}
	</div>
</div>
</fieldset>

   <fieldset id="fieldset_settings" name="fieldset_settings" data-collapsible-fieldset="">

	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
Fieldset Settings						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="legend" href="#">legend</a></li>
				<li><a data-formloader-showfield="use_legend" href="#">use_legend</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.fieldset_settings" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.legend}}" data-formloader-wrapper="legend">
	<label for="legend" class="control-label">Legend:</label>
	<div class="controls">
		 <input id="legend" name="legend" value="{{legend}}" type="text" />
	   {{#error.legend}}
	   <p class="help-block">
		   {{{error.legend.message}}}
	   </p>
	   {{/error.legend}}
	</div>
</div>
    <div class="control-group{{wrapper_class.use_legend}}" data-formloader-wrapper="use_legend">
	<label for="use_legend" class="control-label">Use Legend:</label>
	<div class="controls">
		 <select id="use_legend" name="use_legend" value="{{use_legend}}" type="dropdown">		<option value="">No</option>
		<option {{#__selected.use_legend.true}}selected="selected" {{/__selected.use_legend.true}}value="true">Yes</option>
</select>
	   {{#error.use_legend}}
	   <p class="help-block">
		   {{{error.use_legend.message}}}
	   </p>
	   {{/error.use_legend}}
	</div>
</div>
</fieldset>
   <fieldset id="view_info" name="view_info" data-collapsible-fieldset="">

	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
View Path Info						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="view" href="#">view</a></li>
				<li><a data-formloader-showfield="template_dir" href="#">template_directory</a></li>
				<li><a data-formloader-showfield="template_path" href="#">template_path</a></li>
				<li><a data-formloader-showfield="template_html" href="#">template_html</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.view_info" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.view}}" data-formloader-wrapper="view">
	<label for="view" class="control-label">Mustache View:</label>
	<div class="controls">
		 <input id="view" name="view" value="{{view}}" type="text" placeholder="default.mustache" />
	   {{#error.view}}
	   <p class="help-block">
		   {{{error.view.message}}}
	   </p>
	   {{/error.view}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_dir}}" data-formloader-wrapper="template_dir">
	<label for="template_directory" class="control-label">View Directory:</label>
	<div class="controls">
		 <input id="template_directory" name="template_dir" value="{{template_dir}}" type="text" placeholder="/path/to/mustache/view" />
	   {{#error.template_dir}}
	   <p class="help-block">
		   {{{error.template_dir.message}}}
	   </p>
	   {{/error.template_dir}}
		 {{^error.template_dir}}
	   <span class="help-block">Directory that the template is in (within the modules/formloader/templates)</span>
		 {{/error.template_dir}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_path}}" data-formloader-wrapper="template_path">
	<label for="template_path" class="control-label">View Path:</label>
	<div class="controls">
		 <input id="template_path" name="template_path" value="{{template_path}}" type="text" placeholder="/path/to/view/view.mustache" />
	   {{#error.template_path}}
	   <p class="help-block">
		   {{{error.template_path.message}}}
	   </p>
	   {{/error.template_path}}
		 {{^error.template_path}}
	   <span class="help-block">Full path - combined view director and view path</span>
		 {{/error.template_path}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_html}}" data-formloader-wrapper="template_html">
	<label for="template_html" class="control-label">View Html:</label>
	<div class="controls">
		 <textarea id="template_html" name="template_html" type="textarea">{{template_html}}</textarea>
	   {{#error.template_html}}
	   <p class="help-block">
		   {{{error.template_html.message}}}
	   </p>
	   {{/error.template_html}}
		 {{^error.template_html}}
	   <span class="help-block">We can specify the raw HTML for an item here... completely overriding every other setting</span>
		 {{/error.template_html}}
	</div>
</div>
</fieldset>

		<div data-formloader-actions="formloader.fieldset" class="form-actions">
				<button type="submit" class="btn-info btn" value="Save">Save</button>
				<button type="button" class="pull-right small btn" name="submit" value="Preview" id="preview_item">Preview</button>
		</div>

</form>