<form id="forms_fields" method="POST" action="{{{uri:://action}}}" class="form-horizontal" accept-charset="utf-8">
<input name="api_action" value="formloader.fields" type="hidden" id="form_api_action" />

	{{#__hidden_vars}}
		<input type="hidden" value="{{value}}" name="{{name}}" />
	{{/__hidden_vars}}

		<div class="control-group{{wrapper_class.group}}" data-formloader-wrapper="group">
	<label for="group" class="control-label">Group:</label>
	<div class="controls">
		 <input type="text" id="group" name="group" value="{{group}}" />
	   {{#error.group}}
	   <p class="help-block">
		   {{{error.group.message}}}
	   </p>
	   {{/error.group}}
		 {{^error.group}}
	   <span class="help-block">Used mainly to namespace the forms/child items</span>
		 {{/error.group}}
	</div>
</div>
		<div class="control-group{{wrapper_class.name}}" data-formloader-wrapper="name">
	<label for="fields_field_name" class="control-label">Field Name:</label>
	<div class="controls">
		 <input type="text" id="fields_field_name" name="name" value="{{name}}" />
	   {{#error.name}}
	   <p class="help-block">
		   {{{error.name.message}}}
	   </p>
	   {{/error.name}}
		 {{^error.name}}
	   <span class="help-block">Name for the field, must be unique to the group</span>
		 {{/error.name}}
	</div>
</div>
		<div class="control-group{{wrapper_class.validations}}" data-formloader-wrapper="validations">
	<label for="validations" class="control-label">Validations:</label>
	<div class="controls">
		 <div id="validations" class="row">
	<div class="span7">
		<ul data-tagit-name="validations"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="validations">+</a>
	</div>
</div>
	   {{#error.validations}}
	   <p class="help-block">
		   {{{error.validations.message}}}
	   </p>
	   {{/error.validations}}
		 {{^error.validations}}
	   <span class="help-block">Validations (other than the native ones) are not checked... you must ensure the validations are correctly setup on the server side.</span>
		 {{/error.validations}}
	</div>
</div>
		<div class="control-group{{wrapper_class.fields}}" data-formloader-wrapper="fields">
	<label for="fields" class="control-label">Subfields:</label>
	<div class="controls">
		 <div id="fields" class="row">
	<div class="span7">
		<ul data-tagit-name="fields"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="fields">+</a>
	</div>
</div>
	   {{#error.fields}}
	   <p class="help-block">
		   {{{error.fields.message}}}
	   </p>
	   {{/error.fields}}
		 {{^error.fields}}
	   <span class="help-block">Adding fields here will add a depth layer to the array</span>
		 {{/error.fields}}
	</div>
</div>
		<fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
			Field Attributes			<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="attributes.type" href="#">type</a></li>
				<li><a data-formloader-showfield="attributes.id" href="#">id</a></li>
				<li><a data-formloader-showfield="attributes.class" href="#">class</a></li>
				<li><a data-formloader-showfield="attributes.name" href="#">name</a></li>
				<li><a data-formloader-showfield="attributes.value" href="#">value</a></li>
				<li><a data-formloader-showfield="attributes.placeholder" href="#">placeholder</a></li>
				<li><a data-formloader-showfield="attributes.style" href="#">style</a></li>
				<li><a data-formloader-showfield="attributes.data" href="#">data</a></li>
				<li><a data-formloader-showfield="attributes.autocomplete" href="#">autocomplete</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.attributes_field" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.attributes.type}}" data-formloader-wrapper="attributes.type">
	<label for="fields_type" class="control-label">Field Type:</label>
	<div class="controls">
		 <select type="dropdown" id="fields_type" name="attributes[type]" data-formloader-fieldtype="true">
	<option value="" >text</option>
	<option value="password" {{#__selected.attributes.type.password}}selected="selected"{{/__selected.attributes.type.password}}>password</option>
	<option value="hidden" {{#__selected.attributes.type.hidden}}selected="selected"{{/__selected.attributes.type.hidden}}>hidden</option>
	<option value="dropdown" {{#__selected.attributes.type.dropdown}}selected="selected"{{/__selected.attributes.type.dropdown}}>dropdown</option>
	<option value="textarea" {{#__selected.attributes.type.textarea}}selected="selected"{{/__selected.attributes.type.textarea}}>textarea</option>
	<option value="radios" {{#__selected.attributes.type.radios}}selected="selected"{{/__selected.attributes.type.radios}}>radios</option>
	<option value="checkbox" {{#__selected.attributes.type.checkbox}}selected="selected"{{/__selected.attributes.type.checkbox}}>checkbox</option>
	<option value="checkboxes" {{#__selected.attributes.type.checkboxes}}selected="selected"{{/__selected.attributes.type.checkboxes}}>checkboxes</option>
	<option value="file" {{#__selected.attributes.type.file}}selected="selected"{{/__selected.attributes.type.file}}>file</option>
	<option value="button" {{#__selected.attributes.type.button}}selected="selected"{{/__selected.attributes.type.button}}>button</option>
	<option value="submit" {{#__selected.attributes.type.submit}}selected="selected"{{/__selected.attributes.type.submit}}>submit</option>
	<option value="uneditable" {{#__selected.attributes.type.uneditable}}selected="selected"{{/__selected.attributes.type.uneditable}}>uneditable</option>
	</select>
	   {{#error.attributes.type}}
	   <p class="help-block">
		   {{{error.attributes.type.message}}}
	   </p>
	   {{/error.attributes.type}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.id}}" data-formloader-wrapper="attributes.id">
	<label for="fields_id" class="control-label">Id:</label>
	<div class="controls">
		 <input type="text" id="fields_id" name="attributes[id]" value="{{attributes.id}}" />
	   {{#error.attributes.id}}
	   <p class="help-block">
		   {{{error.attributes.id.message}}}
	   </p>
	   {{/error.attributes.id}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.class}}" data-formloader-wrapper="attributes.class">
	<label for="fields_class" class="control-label">Class:</label>
	<div class="controls">
		 <input type="text" id="fields_class" name="attributes[class]" value="{{attributes.class}}" />
	   {{#error.attributes.class}}
	   <p class="help-block">
		   {{{error.attributes.class.message}}}
	   </p>
	   {{/error.attributes.class}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.name}}" data-formloader-wrapper="attributes.name">
	<label for="fields_name" class="control-label">Name:</label>
	<div class="controls">
		 <input type="text" id="fields_name" name="attributes[name]" value="{{attributes.name}}" />
	   {{#error.attributes.name}}
	   <p class="help-block">
		   {{{error.attributes.name.message}}}
	   </p>
	   {{/error.attributes.name}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.value}}" data-formloader-wrapper="attributes.value">
	<label for="fields_value" class="control-label">Value:</label>
	<div class="controls">
		 <input type="text" id="fields_value" name="attributes[value]" value="{{attributes.value}}" />
	   {{#error.attributes.value}}
	   <p class="help-block">
		   {{{error.attributes.value.message}}}
	   </p>
	   {{/error.attributes.value}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.placeholder}}" data-formloader-wrapper="attributes.placeholder">
	<label for="fields_placeholder" class="control-label">Placeholder:</label>
	<div class="controls">
		 <input type="text" id="fields_placeholder" name="attributes[placeholder]" value="{{attributes.placeholder}}" placeholder="Add Placeholder Here" />
	   {{#error.attributes.placeholder}}
	   <p class="help-block">
		   {{{error.attributes.placeholder.message}}}
	   </p>
	   {{/error.attributes.placeholder}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.style}}" data-formloader-wrapper="attributes.style">
	<label for="fields_style" class="control-label">Style:</label>
	<div class="controls">
		 <input type="text" id="fields_style" name="attributes[style]" value="{{attributes.style}}" />
	   {{#error.attributes.style}}
	   <p class="help-block">
		   {{{error.attributes.style.message}}}
	   </p>
	   {{/error.attributes.style}}
		 {{^error.attributes.style}}
	   <span class="help-block">Please don't use this unless you absolutely need to</span>
		 {{/error.attributes.style}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.data}}" data-formloader-wrapper="attributes.data">
	<label for="fields_data" class="control-label">Data Attributes</label>
	<div class="controls">
		 <div data-option-sgroup="attributes[data]">
	<div class="optionRow">
		<div>
			 <input type="text" class="inline span2" name="attributes[data][key][]" placeholder="Label" />
			 <input type="text" class="inline span2" name="attributes[data][value][]" placeholder="name or value" />
			 <a href="#" data-formloader-action="add_option_row" class="btn btn-primary">+</a>
			 <span class="btn small disabled optionSortHandle">Sort</span>
		</div>
		<br>
	</div>
</div>
<script type="text/javascript">
var Formloader = Formloader || {};
		Formloader.Forms = Formloader.Forms || {};
		Formloader.Forms["attributes[data]"] = {{#attributes.data}}{{{attributes.data}}}{{/attributes.data}}{{^attributes.data}}[]{{/attributes.data}};
</script>
	   {{#error.attributes.data}}
	   <p class="help-block">
		   {{{error.attributes.data.message}}}
	   </p>
	   {{/error.attributes.data}}
		 {{^error.attributes.data}}
	   <span class="help-block">Each of the Key=>Val pairs will be added as data attribues to this item</span>
		 {{/error.attributes.data}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.autocomplete}}" data-formloader-wrapper="attributes.autocomplete">
	<label for="fields_autocomplete" class="control-label">Autocomplete:</label>
	<div class="controls">
		 <input type="text" id="fields_autocomplete" name="attributes[autocomplete]" class="span2" value="{{attributes.autocomplete}}" />
	   {{#error.attributes.autocomplete}}
	   <p class="help-block">
		   {{{error.attributes.autocomplete.message}}}
	   </p>
	   {{/error.attributes.autocomplete}}
		 {{^error.attributes.autocomplete}}
	   <span class="help-block">Set as "off" to turn autocompletion off</span>
		 {{/error.attributes.autocomplete}}
	</div>
</div>
</fieldset>

   <fieldset id="fieldsets_options" name="options" style="display:none" data-formloader-optsettings="true" >

    <div class="control-group{{wrapper_class.options}}" data-formloader-wrapper="options">
	<label for="fields_options_2" class="control-label">Options:</label>
	<div class="controls">
		 <div data-option-sgroup="options">
	<div class="optionRow">
		<div>
			 <input type="text" class="inline span2" name="options[key][]" placeholder="Label" />
			 <input type="text" class="inline span2" name="options[value][]" placeholder="name or value" />
			 <a href="#" data-formloader-action="add_option_row" class="btn btn-primary">+</a>
			 <span class="btn small disabled optionSortHandle">Sort</span>
		</div>
		<br>
	</div>
</div>
<script type="text/javascript">
var Formloader = Formloader || {};
		Formloader.Forms = Formloader.Forms || {};
		Formloader.Forms["options"] = {{#options}}{{{options}}}{{/options}}{{^options}}[]{{/options}};
</script>
	   {{#error.options}}
	   <p class="help-block">
		   {{{error.options.message}}}
	   </p>
	   {{/error.options}}
		 {{^error.options}}
	   <span class="help-block">The left input will be displayed, the right will be the name of the field or the select value, depending on the type of field</span>
		 {{/error.options}}
	</div>
</div>
    <div class="control-group{{wrapper_class.option_call}}" data-formloader-wrapper="option_call">
	<label for="fields_option_call" class="control-label">Option Call:</label>
	<div class="controls">
		 <input type="text" id="fields_option_call" name="option_call" value="{{option_call}}" />
	   {{#error.option_call}}
	   <p class="help-block">
		   {{{error.option_call.message}}}
	   </p>
	   {{/error.option_call}}
		 {{^error.option_call}}
	   <span class="help-block">Put a function here and it will call/expect an array return to populate the option...</span>
		 {{/error.option_call}}
	</div>
</div>
</fieldset>
   <fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
Field Settings						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="label" href="#">field_label</a></li>
				<li><a data-formloader-showfield="help_inline" href="#">help_inline</a></li>
				<li><a data-formloader-showfield="tip" href="#">tip</a></li>
				<li><a data-formloader-showfield="default" href="#">default</a></li>
				<li><a data-formloader-showfield="input_template" href="#">input_template</a></li>
				<li><a data-formloader-showfield="field_html" href="#">field_html</a></li>
				<li><a data-formloader-showfield="hide_name" href="#">hide_name</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.field_settings" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.label}}" data-formloader-wrapper="label">
	<label for="fields_field_label" class="control-label">Field Label:</label>
	<div class="controls">
		 <input type="text" id="fields_field_label" name="label" value="{{label}}" placeholder="Label for Field" />
	   {{#error.label}}
	   <p class="help-block">
		   {{{error.label.message}}}
	   </p>
	   {{/error.label}}
	</div>
</div>
    <div class="control-group{{wrapper_class.help_inline}}" data-formloader-wrapper="help_inline">
	<label for="fields_help_inline" class="control-label">Inline Help:</label>
	<div class="controls">
		 <input type="text" id="fields_help_inline" name="help_inline" value="{{help_inline}}" />
		 {{^error.help_inline}}
	   <span class="help-inline">help that goes over here...</span>
		 {{/error.help_inline}}
	   {{#error.help_inline}}
	   <p class="help-block">
		   {{{error.help_inline.message}}}
	   </p>
	   {{/error.help_inline}}
	</div>
</div>
    <div class="control-group{{wrapper_class.tip}}" data-formloader-wrapper="tip">
	<label for="fields_tip" class="control-label">Tip:</label>
	<div class="controls">
		 <input type="text" id="fields_tip" name="tip" value="{{tip}}" />
	   {{#error.tip}}
	   <p class="help-block">
		   {{{error.tip.message}}}
	   </p>
	   {{/error.tip}}
		 {{^error.tip}}
	   <span class="help-block"><strong>Tips are found underneath a form item, and can carry valid html markup</strong></span>
		 {{/error.tip}}
	</div>
</div>
    <div class="control-group{{wrapper_class.default}}" data-formloader-wrapper="default">
	<label for="fields_default" class="control-label">Default:</label>
	<div class="controls">
		 <input type="text" id="fields_default" name="default" value="{{default}}" />
	   {{#error.default}}
	   <p class="help-block">
		   {{{error.default.message}}}
	   </p>
	   {{/error.default}}
		 {{^error.default}}
	   <span class="help-block">Default value for a field... only used on a GET request... typically not set. Helpful on setting a checked field "checked" by default</span>
		 {{/error.default}}
	</div>
</div>
    <div class="control-group{{wrapper_class.input_template}}" data-formloader-wrapper="input_template">
	<label for="fields_input_template" class="control-label">Input Template:</label>
	<div class="controls">
		 <input type="text" id="fields_input_template" name="input_template" value="{{input_template}}" />
	   {{#error.input_template}}
	   <p class="help-block">
		   {{{error.input_template.message}}}
	   </p>
	   {{/error.input_template}}
		 {{^error.input_template}}
	   <span class="help-block">direct path to just the input part of a field (not the wrapper)...</span>
		 {{/error.input_template}}
	</div>
</div>
    <div class="control-group{{wrapper_class.field_html}}" data-formloader-wrapper="field_html">
	<label for="fields_field_html" class="control-label">Field Html:</label>
	<div class="controls">
		 <textarea type="textarea" id="fields_field_html" name="field_html">{{field_html}}</textarea>
	   {{#error.field_html}}
	   <p class="help-block">
		   {{{error.field_html.message}}}
	   </p>
	   {{/error.field_html}}
		 {{^error.field_html}}
	   <span class="help-block">Custom HTML for just the field section (still wrapped by the template as normal)</span>
		 {{/error.field_html}}
	</div>
</div>
    <div class="control-group{{wrapper_class.hide_name}}" data-formloader-wrapper="hide_name">
	<label for="fields_hide_name" class="control-label">Hide Name:</label>
	<div class="controls">
		 <select type="dropdown" id="fields_hide_name" name="hide_name">
	<option value="" >No</option>
	<option value="true" {{#__selected.hide_name.true}}selected="selected"{{/__selected.hide_name.true}}>Yes</option>
	</select>
	   {{#error.hide_name}}
	   <p class="help-block">
		   {{{error.hide_name.message}}}
	   </p>
	   {{/error.hide_name}}
	</div>
</div>
</fieldset>
   <fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
Template Path Info						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="template" href="#">template</a></li>
				<li><a data-formloader-showfield="template_dir" href="#">template_directory</a></li>
				<li><a data-formloader-showfield="template_path" href="#">template_path</a></li>
				<li><a data-formloader-showfield="template_html" href="#">template_html</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.template_info" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.template}}" data-formloader-wrapper="template">
	<label for="fields_template" class="control-label">Mustache View:</label>
	<div class="controls">
		 <input type="text" id="fields_template" name="template" value="{{template}}" placeholder="default.mustache" />
	   {{#error.template}}
	   <p class="help-block">
		   {{{error.template.message}}}
	   </p>
	   {{/error.template}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_dir}}" data-formloader-wrapper="template_dir">
	<label for="fields_template_directory" class="control-label">Template Directory:</label>
	<div class="controls">
		 <input type="text" id="fields_template_directory" name="template_dir" value="{{template_dir}}" placeholder="/path/to/mustache/template" />
	   {{#error.template_dir}}
	   <p class="help-block">
		   {{{error.template_dir.message}}}
	   </p>
	   {{/error.template_dir}}
		 {{^error.template_dir}}
	   <span class="help-block">Directory that the template is in (within the modules/formloader/templates)</span>
		 {{/error.template_dir}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_path}}" data-formloader-wrapper="template_path">
	<label for="fields_template_path" class="control-label">Template Path:</label>
	<div class="controls">
		 <input type="text" id="fields_template_path" name="template_path" value="{{template_path}}" placeholder="/path/to/template.mustache" />
	   {{#error.template_path}}
	   <p class="help-block">
		   {{{error.template_path.message}}}
	   </p>
	   {{/error.template_path}}
		 {{^error.template_path}}
	   <span class="help-block">Full path - combined template directory and template path</span>
		 {{/error.template_path}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_html}}" data-formloader-wrapper="template_html">
	<label for="fields_template_html" class="control-label">Template Html:</label>
	<div class="controls">
		 <textarea type="textarea" id="fields_template_html" name="template_html">{{template_html}}</textarea>
	   {{#error.template_html}}
	   <p class="help-block">
		   {{{error.template_html.message}}}
	   </p>
	   {{/error.template_html}}
		 {{^error.template_html}}
	   <span class="help-block">We can specify the raw HTML for an item here... completely overriding every other setting</span>
		 {{/error.template_html}}
	</div>
</div>
</fieldset>

		<div data-formloader-actions="formloader.fields" class="form-actions">
				<button id="actions_save" type="submit" class="btn-info btn" value="Save">Save</button>
				<button id="preview_item" type="button" class="pull-right small btn" value="Preview">Preview</button>
		</div>

</form>