<form id="forms_forms" method="POST" action="{{{uri:://action}}}" class="form-horizontal" accept-charset="utf-8">
<input name="api_action" value="formloader.forms" type="hidden" id="form_api_action" />

	{{#__hidden_vars}}
		<input type="hidden" value="{{value}}" name="{{name}}" />
	{{/__hidden_vars}}

		<div class="control-group{{wrapper_class.group}}" data-formloader-wrapper="group">
	<label for="group" class="control-label">Group:</label>
	<div class="controls">
		 <input type="text" id="group" name="group" value="{{group}}" />
	   {{#error.group}}
	   <p class="help-block">
		   {{{error.group.message}}}
	   </p>
	   {{/error.group}}
		 {{^error.group}}
	   <span class="help-block">Used mainly to namespace the forms/child items</span>
		 {{/error.group}}
	</div>
</div>
		<div class="control-group{{wrapper_class.name}}" data-formloader-wrapper="name">
	<label for="fields_form_name" class="control-label">Form Name:</label>
	<div class="controls">
		 <input type="text" id="fields_form_name" name="name" value="{{name}}" />
	   {{#error.name}}
	   <p class="help-block">
		   {{{error.name.message}}}
	   </p>
	   {{/error.name}}
		 {{^error.name}}
	   <span class="help-block">Name for the form, must be unique to the group</span>
		 {{/error.name}}
	</div>
</div>
		<div class="control-group{{wrapper_class.fieldsets}}" data-formloader-wrapper="fieldsets">
	<label for="fieldsets" class="control-label">Fieldsets:</label>
	<div class="controls">
		 <div id="fieldsets" class="row">
	<div class="span7">
		<ul data-tagit-name="fieldsets"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="fieldsets">+</a>
	</div>
</div>
	   {{#error.fieldsets}}
	   <p class="help-block">
		   {{{error.fieldsets.message}}}
	   </p>
	   {{/error.fieldsets}}
		 {{^error.fieldsets}}
	   <span class="help-block">Start typing the name of a fieldset you have already created, or click the "+" to create a new one</span>
		 {{/error.fieldsets}}
	</div>
</div>
		<div class="control-group{{wrapper_class.fields}}" data-formloader-wrapper="fields">
	<label for="fields" class="control-label">Fields:</label>
	<div class="controls">
		 <div id="fields" class="row">
	<div class="span7">
		<ul data-tagit-name="fields"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="fields">+</a>
	</div>
</div>
	   {{#error.fields}}
	   <p class="help-block">
		   {{{error.fields.message}}}
	   </p>
	   {{/error.fields}}
		 {{^error.fields}}
	   <span class="help-block">Start typing the name of a field you have already created, or click the "+" to create a new one</span>
		 {{/error.fields}}
	</div>
</div>
		<div class="control-group{{wrapper_class.actions}}" data-formloader-wrapper="actions">
	<label for="actions" class="control-label">Actions:</label>
	<div class="controls">
		 <div id="actions" class="row">
	<div class="span7">
		<ul data-tagit-name="actions"></ul>
	</div>
	<div class="span1">
		<a class="btn btn-info small" href="#" style="display:none" data-formloader-add="actions">+</a>
	</div>
</div>
	   {{#error.actions}}
	   <p class="help-block">
		   {{{error.actions.message}}}
	   </p>
	   {{/error.actions}}
		 {{^error.actions}}
	   <span class="help-block">Start typing the name of an action you have already created, or click the "+" to create a new one</span>
		 {{/error.actions}}
	</div>
</div>
		<fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
			Form Attributes			<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="attributes.id" href="#">id</a></li>
				<li><a data-formloader-showfield="attributes.class" href="#">class</a></li>
				<li><a data-formloader-showfield="attributes.name" href="#">name</a></li>
				<li><a data-formloader-showfield="attributes.action" href="#">form_action</a></li>
				<li><a data-formloader-showfield="attributes.method" href="#">form_method</a></li>
				<li><a data-formloader-showfield="attributes.data" href="#">data</a></li>
				<li><a data-formloader-showfield="attributes.autocomplete" href="#">autocomplete</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.attributes_form" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.attributes.id}}" data-formloader-wrapper="attributes.id">
	<label for="fields_id" class="control-label">Id:</label>
	<div class="controls">
		 <input type="text" id="fields_id" name="attributes[id]" value="{{attributes.id}}" />
	   {{#error.attributes.id}}
	   <p class="help-block">
		   {{{error.attributes.id.message}}}
	   </p>
	   {{/error.attributes.id}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.class}}" data-formloader-wrapper="attributes.class">
	<label for="fields_class" class="control-label">Class:</label>
	<div class="controls">
		 <input type="text" id="fields_class" name="attributes[class]" value="{{attributes.class}}" />
	   {{#error.attributes.class}}
	   <p class="help-block">
		   {{{error.attributes.class.message}}}
	   </p>
	   {{/error.attributes.class}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.name}}" data-formloader-wrapper="attributes.name">
	<label for="fields_name" class="control-label">Name:</label>
	<div class="controls">
		 <input type="text" id="fields_name" name="attributes[name]" value="{{attributes.name}}" />
	   {{#error.attributes.name}}
	   <p class="help-block">
		   {{{error.attributes.name.message}}}
	   </p>
	   {{/error.attributes.name}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.action}}" data-formloader-wrapper="attributes.action">
	<label for="fields_form_action" class="control-label">Form Action:</label>
	<div class="controls">
		 <input type="text" id="fields_form_action" name="attributes[action]" value="{{attributes.action}}" placeholder="Full URL or relative (/page/location)" />
	   {{#error.attributes.action}}
	   <p class="help-block">
		   {{{error.attributes.action.message}}}
	   </p>
	   {{/error.attributes.action}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.method}}" data-formloader-wrapper="attributes.method">
	<label for="fields_form_method" class="control-label">Form Method:</label>
	<div class="controls">
		 <select type="dropdown" id="fields_form_method" name="attributes[method]">
	<option value="" >post</option>
	<option value="get" {{#__selected.attributes.method.get}}selected="selected"{{/__selected.attributes.method.get}}>get</option>
	</select>
	   {{#error.attributes.method}}
	   <p class="help-block">
		   {{{error.attributes.method.message}}}
	   </p>
	   {{/error.attributes.method}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.data}}" data-formloader-wrapper="attributes.data">
	<label for="fields_data" class="control-label">Data Attributes</label>
	<div class="controls">
		 <div data-option-sgroup="attributes[data]">
	<div class="optionRow">
		<div>
			 <input type="text" class="inline span2" name="attributes[data][key][]" placeholder="Label" />
			 <input type="text" class="inline span2" name="attributes[data][value][]" placeholder="name or value" />
			 <a href="#" data-formloader-action="add_option_row" class="btn btn-primary">+</a>
			 <span class="btn small disabled optionSortHandle">Sort</span>
		</div>
		<br>
	</div>
</div>
<script type="text/javascript">
var Formloader = Formloader || {};
		Formloader.Forms = Formloader.Forms || {};
		Formloader.Forms["attributes[data]"] = {{#attributes.data}}{{{attributes.data}}}{{/attributes.data}}{{^attributes.data}}[]{{/attributes.data}};
</script>
	   {{#error.attributes.data}}
	   <p class="help-block">
		   {{{error.attributes.data.message}}}
	   </p>
	   {{/error.attributes.data}}
		 {{^error.attributes.data}}
	   <span class="help-block">Each of the Key=>Val pairs will be added as data attribues to this item</span>
		 {{/error.attributes.data}}
	</div>
</div>
    <div class="control-group{{wrapper_class.attributes.autocomplete}}" data-formloader-wrapper="attributes.autocomplete">
	<label for="fields_autocomplete" class="control-label">Autocomplete:</label>
	<div class="controls">
		 <input type="text" id="fields_autocomplete" name="attributes[autocomplete]" class="span2" value="{{attributes.autocomplete}}" />
	   {{#error.attributes.autocomplete}}
	   <p class="help-block">
		   {{{error.attributes.autocomplete.message}}}
	   </p>
	   {{/error.attributes.autocomplete}}
		 {{^error.attributes.autocomplete}}
	   <span class="help-block">Set as "off" to turn autocompletion off</span>
		 {{/error.attributes.autocomplete}}
	</div>
</div>
</fieldset>

   <fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
Form Settings						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="title" href="#">title</a></li>
				<li><a data-formloader-showfield="route_success" href="#">route_success</a></li>
				<li><a data-formloader-showfield="route_error" href="#">route_error</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.form_settings" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.title}}" data-formloader-wrapper="title">
	<label for="fields_title" class="control-label">Title</label>
	<div class="controls">
		 <input type="text" id="fields_title" name="title" value="{{title}}" />
	   {{#error.title}}
	   <p class="help-block">
		   {{{error.title.message}}}
	   </p>
	   {{/error.title}}
	</div>
</div>
    <div class="control-group{{wrapper_class.route_success}}" data-formloader-wrapper="route_success">
	<label for="fields_route_success" class="control-label">Route Success:</label>
	<div class="controls">
		 <input type="text" id="fields_route_success" name="route_success" class="span6" value="{{route_success}}" placeholder="HMVC::path/to/controller or Static::public_method" />
	   {{#error.route_success}}
	   <p class="help-block">
		   {{{error.route_success.message}}}
	   </p>
	   {{/error.route_success}}
		 {{^error.route_success}}
	   <span class="help-block">When the form validates correctly, this is called as either a static method or HMVC request...</span>
		 {{/error.route_success}}
	</div>
</div>
    <div class="control-group{{wrapper_class.route_error}}" data-formloader-wrapper="route_error">
	<label for="fields_route_error" class="control-label">Route Error:</label>
	<div class="controls">
		 <input type="text" id="fields_route_error" name="route_error" class="span6" value="{{route_error}}" placeholder="HMVC::path/to/controller or Static::public_method" />
	   {{#error.route_error}}
	   <p class="help-block">
		   {{{error.route_error.message}}}
	   </p>
	   {{/error.route_error}}
		 {{^error.route_error}}
	   <span class="help-block">When the form fails validation, this is called as either a static method or HMVC request...</span>
		 {{/error.route_error}}
	</div>
</div>
</fieldset>
   <fieldset data-collapsible-fieldset="">
	<ul class="nav nav-tabs">
		<li class="dropdown">
			<a class="dropdown-toggle"
			data-toggle="dropdown"
			href="#">
Template Path Info						<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a data-formloader-showfield="template" href="#">template</a></li>
				<li><a data-formloader-showfield="template_dir" href="#">template_directory</a></li>
				<li><a data-formloader-showfield="template_path" href="#">template_path</a></li>
				<li><a data-formloader-showfield="template_html" href="#">template_html</a></li>
				<li class="divider"></li>
				<li><a data-formloader-showfieldtrigger="show" href="#">Show All Fields</a></li>
			</ul>
		</li>
	</ul>

  <div data-formloader-fieldset="formloader.template_info" class="formloader-fieldset-hide">
    <div class="control-group{{wrapper_class.template}}" data-formloader-wrapper="template">
	<label for="fields_template" class="control-label">Mustache View:</label>
	<div class="controls">
		 <input type="text" id="fields_template" name="template" value="{{template}}" placeholder="default.mustache" />
	   {{#error.template}}
	   <p class="help-block">
		   {{{error.template.message}}}
	   </p>
	   {{/error.template}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_dir}}" data-formloader-wrapper="template_dir">
	<label for="fields_template_directory" class="control-label">Template Directory:</label>
	<div class="controls">
		 <input type="text" id="fields_template_directory" name="template_dir" value="{{template_dir}}" placeholder="/path/to/mustache/template" />
	   {{#error.template_dir}}
	   <p class="help-block">
		   {{{error.template_dir.message}}}
	   </p>
	   {{/error.template_dir}}
		 {{^error.template_dir}}
	   <span class="help-block">Directory that the template is in (within the modules/formloader/templates)</span>
		 {{/error.template_dir}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_path}}" data-formloader-wrapper="template_path">
	<label for="fields_template_path" class="control-label">Template Path:</label>
	<div class="controls">
		 <input type="text" id="fields_template_path" name="template_path" value="{{template_path}}" placeholder="/path/to/template.mustache" />
	   {{#error.template_path}}
	   <p class="help-block">
		   {{{error.template_path.message}}}
	   </p>
	   {{/error.template_path}}
		 {{^error.template_path}}
	   <span class="help-block">Full path - combined template directory and template path</span>
		 {{/error.template_path}}
	</div>
</div>
    <div class="control-group{{wrapper_class.template_html}}" data-formloader-wrapper="template_html">
	<label for="fields_template_html" class="control-label">Template Html:</label>
	<div class="controls">
		 <textarea type="textarea" id="fields_template_html" name="template_html">{{template_html}}</textarea>
	   {{#error.template_html}}
	   <p class="help-block">
		   {{{error.template_html.message}}}
	   </p>
	   {{/error.template_html}}
		 {{^error.template_html}}
	   <span class="help-block">We can specify the raw HTML for an item here... completely overriding every other setting</span>
		 {{/error.template_html}}
	</div>
</div>
</fieldset>

		<div data-formloader-actions="formloader.forms" class="form-actions">
				<button id="actions_compile" type="submit" class="btn-primary btn" value="Compile">Compile</button>
				<button id="preview_item" type="button" class="pull-right small btn" value="Preview">Preview</button>
		</div>

</form>