<div data-option-sgroup="{{attributes.name}}">
	<div class="optionRow">
		<div>
			 <input type="text" class="inline span2" name="{{attributes.name}}[key][]" placeholder="Label" />
			 <input type="text" class="inline span2" name="{{attributes.name}}[value][]" placeholder="name or value" />
			 <a href="#" data-formloader-action="add_option_row" class="btn btn-primary">+</a>
			 <span class="btn small disabled optionSortHandle">Sort</span>
		</div>
		<br>
	</div>
</div>
<script type="text/javascript">
var Formloader = Formloader || {};
		Formloader.Forms = Formloader.Forms || {};
		Formloader.Forms["{{attributes.name}}"] = {%#{{name_with_dots}}%}{%%{{name_with_dots}}%%}{%/{{name_with_dots}}%}{%^{{name_with_dots}}%}[]{%/{{name_with_dots}}%};
</script>