{%#{{name_with_dots}}%}
<label class="checkbox">
	<input type="checkbox" name="{{attributes.name}}[{%name%}]" value="yes" {%#checked%}checked="checked"{%/checked%}>
	{%label%}
</label>
{%/{{name_with_dots}}%}