<div class="control-group{%wrapper_class.{{name_with_dots}}%}" data-formloader-wrapper="{{name_with_dots}}">
	{{{label_html}}}
	<div class="controls">
		 {{{field_html}}}
	   {{#help_inline}}
		 {%^error.{{name_with_dots}}%}
	   <span class="help-inline">{{{help_inline}}}</span>
		 {%/error.{{name_with_dots}}%}
	   {{/help_inline}}
	   {%#error.{{name_with_dots}}%}
	   <p class="help-block">
		   {%%error.{{name_with_dots}}.message%%}
	   </p>
	   {%/error.{{name_with_dots}}%}
	   {{#tip}}
		 {%^error.{{name_with_dots}}%}
	   <span class="help-block">{{{tip}}}</span>
		 {%/error.{{name_with_dots}}%}
     {{/tip}}
	</div>
</div>